<%= form_with(model: [ @review, @review.comments.build ], local: true) do |form| %>
  <% if session[:customer_id].nil? %>
    <p>
      <%= link_to 'Login for commenting', login_path %>
    </p>
  <% else %>
    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
<% end %>
