<h1>Customer Reviews</h1>
<%= link_to 'Home', root_path %> |
<%= link_to 'New Order', new_order_path %> |
<%= link_to 'New Review', new_review_path %>
<div class="container">
  <% @reviews.each do |review| %>
    <div class="item">
      <div class="slefie"><%= review.selfie = image_tag(get_random_image, :size => "175x120") %></div>
      <p>
        <strong>
          <%= Customer.find(review.customer_id).first_name %> <%= Customer.find(review.customer_id).last_name %>
        </strong>
      </p>
      <p>
        <strong>Grade:</strong> <%= review.grade %></p>
      <p>
        <strong>Title:</strong> <%= review.title %></p>
      <p>
        <strong>Text:</strong> <%= review.text %></p>
      <p>
        <strong>Comment:</strong> <%= Comment.where(review_id: review).pluck(:text).last %>
      </p>
      <p>
        <%= link_to 'See Comments', review_path(review) %> (<%= Comment.where(review_id: review).count.to_i %>)
      </p>
    </div>
  <% end %>
</div>
